.App {
  text-align: center;
}
h1,h2{font-size:25px;text-align:center; margin:auto;}

table {
  margin:30px auto;
  width:400px
}
table tr, td{
  border:1px solid #494949;
}
table th{background-color:#3bbfcf ;color:white;}
input{ 
  display: block;
  margin: 10px auto;
 }